<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<!--<add name="connstr_unittest" connectionString="User ID = postgres; Password=123456;Host=snecdb;Port=5432;Database=snec;Pooling=true;"
		   providerName="Npgsql" />
		<add name="connstr_stable" connectionString="User ID = postgres; Password=BHZVQ6gPb;Host=snecdb;Port=5432;Database=snec;Pooling=true;"
		  providerName="Npgsql" />

		<add name="connstr_stable" connectionString="User ID = postgres; Password=123456;Host=47.56.246.214;Port=3731;Database=snec;Pooling=true;"
	   providerName="Npgsql" />
		<add name="" connectionString="User ID = postgres; Password=123456;Host=47.56.246.214;Port=3731;Database=snec;Pooling=true;"
		   providerName="Npgsql" />-->

		<add name="connstr" connectionString="User ID = postgres; Password=123456;Host=snecdb;Port=5432;Database=snec;Pooling=true;"
  providerName="Npgsql" />
		<add name="connstr_stable" connectionString="User ID = snec2021@postgres2021; Password=xvczyPqV%d9d;Host=postgres2021.postgres.database.azure.com;;Port=5432;Database=snec;Pooling=true;Ssl Mode=Require;"
		  providerName="Npgsql" />
		<add name="local_connstr" connectionString="User ID = postgres; Password=123456;Host=47.56.246.214;Port=3731;Database=snec;Pooling=true;"
		  providerName="Npgsql" />




		<add name="member_connstr" connectionString="User ID = postgres; Password=123456;Host=memberdb;Port=5432;Database=members;Pooling=true;"
  providerName="Npgsql" />
		<add name="member_connstr_stable" connectionString="User ID = postgres; Password=ewXRBT1ql;Host=memberdb;Port=5432;Database=members;Pooling=true;"
		  providerName="Npgsql" />
		<add name="member_local_connstr" connectionString="User ID = postgres; Password=123456;Host=47.56.246.214;Port=3730;Database=members;Pooling=true;"
		  providerName="Npgsql" />

		<add name="role_connstr" connectionString="User ID = postgres; Password=123456;Host=roledb;Port=5432;Database=members;Pooling=true;"
  providerName="Npgsql" />
		<add name="role_debug_unittest" connectionString="User ID = postgres; Password=123456;Host=47.56.246.214;Port=3432;Database=roles;Pooling=true;"
   providerName="Npgsql" />
		<add name="role_debug_stable" connectionString="User ID = postgres; Password=Azn3&amp;qMPxf2v;Host=47.104.249.194;Port=3219;Database=roles;Pooling=true;"
		  providerName="Npgsql" />
	</connectionStrings>
</configuration>